.nav-bar {
  margin: 10px 10px 10px 25px;
}

.device-template-name {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 32px;
}

.central-block {
  margin-left: auto;
  margin-right: auto;
  width: 20%
}
