<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<div *ngIf="homes.length == 0" class="no-house">
  <h3>Looks like you don`t have any houses yet <a routerLink="../administration/homes">Click here to add one</a></h3>
</div>

<div class="page">
  <div *ngIf="homes.length > 0" class="home-choose scrollbar scrollbar-primary">
    <ul class="list-group home-list">
      <li class="list-group-item home-choose-item bottom-border" *ngFor="let home of homes"
          (click)="setCurrentHome(home)">
        <span><img src="https://i.ya-webdesign.com/images/home-png.png"></span>{{home.addressa}}
        <span class="arrow-icon-span"><img src="https://vectorified.com/images/go-icon-24.png"></span></li>
    </ul>
  </div>

  <div *ngIf="home" class="location-choose">
    <app-dashboard-locations *ngFor="let loc of home.locations" [location]="loc"></app-dashboard-locations>
    <h5><a class="add-widget btn btn-outline-primary" role="button" (click)="redirect()">Add widget</a></h5>
  </div>
</div>
