.activation {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

.activation input {
  width: 100%;
  margin: 10px;
}

.error, .validation-error {
  margin-left: 10px;
  color: red;
}
.btn{
  width: 100%;
  margin-left: 10px;
}
