<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet"/>


<div class="container">
  <div class="date">
    <div class="text">From</div>
    <ejs-datetimepicker #datetimeFrom style="width: 25%; height: 30px" placeholder='Select date and time' [value]='dateValue'  [min]='minDate' [max]='maxDate'>
    </ejs-datetimepicker>
    <div class="text">To</div>
    <ejs-datetimepicker #dateTimeTo style="width: 25%; height: 30px" placeholder='Select date and time' [value]='dateValue'  [min]='minDate' [max]='maxDate'>
    </ejs-datetimepicker>
    <div class="button" (click)="filterByDateTime(datetimeFrom.value,dateTimeTo.value)">Submit</div>
  </div>
  <div class="chart">
    <div class="graphic">
      <app-devices-graphics type="temperature"></app-devices-graphics>
    </div>
    <div class="graphic">
      <app-devices-graphics type="humidity"></app-devices-graphics>
    </div>
  </div>
</div>
