<p>{{valid}}</p>

<div class="changepas">

  <form #registerForm="ngForm" (ngSubmit)="changePassword(userChangePassword)">

    <div class="validation-error" *ngIf="passwordControl.invalid && (passwordControl.dirty||passwordControl.touched)">
      <div *ngIf="passwordControl.errors.required">
        Password is required field
      </div>
      <div *ngIf="passwordControl.errors.minlength">
        Password must be at least 8 characters long
      </div>
    </div>
    <input id="CurrentPassword" type="password" class="form-control password" name="form-control password"
           placeholder="Password"
           [(ngModel)]="password1"
           #passwordControl="ngModel"
           required minlength="8">

    <div class="validation-error" *ngIf="passwordControl.invalid && (passwordControl.dirty||passwordControl.touched)">
      <div *ngIf="passwordControl.errors.required">
        Password is required field
      </div>
      <div *ngIf="passwordControl.errors.minlength">
        Password must be at least 8 characters long
      </div>
    </div>
    <div class="validation-error" *ngIf="passwordErrorMessageBackEnd!=null">
      {{passwordErrorMessageBackEnd}}
    </div>
    <input id="Password" type="password" class="form-control password" name="form-control password"
           placeholder="New Password"
           [(ngModel)]="password2"
           #passwordControl="ngModel"
           required minlength="8">

    <button class="btn btn-primary submit" [disabled]="!registerForm.valid" type="submit" (click)="changePassword(password1,1)">
      <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Confirm
    </button>

  </form>

</div>
