<div class="alert_table">
  <table class="table table-hover" style="table-layout: fixed; word-wrap: break-word;">
    <thead>
    <tr>
      <th scope="col" width="33%">Device</th>
      <th scope="col" width="33%">Message</th>
      <th scope="col" width="33%">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>My Xiaomi</td>
      <td>temperature is 30 degrees now</td>
      <td>18.02.2020 15:35</td>
    </tr>
    <tr>
      <td>My Xiaomi</td>
      <td>temperature is 30 degrees now</td>
      <td>18.02.2020 15:35</td>
    </tr>
    <tr>
      <td>My Xiaomi</td>
      <td>temperature is 30 degrees now</td>
      <td>18.02.2020 15:35</td>
    </tr>
    </tbody>
  </table>
</div>
