.bg-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image:
    url("https://images.unsplash.com/photo-1519558260268-cde7e03a0152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.error, .validation-error {
  margin-left: 10px;
  color: red;
}

.restore {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

.restore input {
  width: 100%;
  margin: 10px;
}

.submit {
  margin-left: 200px;
}

.label-restore {
  color: #eaeaea;
  margin-left: 10px;
}
