<div class="restore">
  <p class="label-restore">Please enter your email to search for your account.</p>

  <form #registerForm="ngForm">
    <div class="validation-error" *ngIf="emailControl.invalid && (emailControl.dirty||emailControl.touched)">
      <div *ngIf="emailControl.errors.required">
        Email is required field
      </div>
      <div *ngIf="emailControl.errors.minlength">
        Email must be at least 6 characters long
      </div>
      <div *ngIf="emailControl.errors.email">
        Please input your email correctly
      </div>
    </div>
    <span>{{error}}</span>
    <input id="email" type="email" class="form-control email" name="email" [(ngModel)]="email"
           placeholder="Email"
           #emailControl="ngModel" required
           minlength="1" email="true">

    <button class="btn btn-primary submit"  (click)="restorePassword(email)" [disabled]="!registerForm.valid" type="submit">
      <span class=" spinner-border-sm" aria-hidden="true"></span>
      Search!
    </button>
  </form>
</div>
