.error, .validation-error {
  margin-left: 10px;
  color: red;
}

.restore {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20%;
}

.restore input {
  width: 100%;
  margin: 10px;
}

.submit {
  margin-left: 120px;
}

.label-restore {
  margin-left: 10px;
}
