.rule-container {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 15%;
}

.rule {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.rule-info {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.rule-buttons {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: rgb(204, 204, 204);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 4px;
  font-size: 20px;
  font-weight: 600;
}

.info {
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
}

.rule-img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  border-radius: 50%;
}

.add-rule {
  width: 100%;
  display: flex;
  align-items: revert;
  justify-content: flex-end;
}

img {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

.plus:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.rule-img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.plus {
  background-color: #3f51b5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 2px;
  color: white;
  margin-top: 10px;
  margin-right: 5%;
  cursor: pointer;
}
