.all-page {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: grid;
  grid-template-columns: 5% 30% 5% 55% 5%;
  margin-top: 10px;
  height: 100%;
  margin-bottom: 200px;
}

img {
  width: 200px;
  height: 200px;
}

.left-bar {
  padding-top: 50px;
  grid-area: 1/2/4/3;
}

.no-device {
  text-align: center;
}

.main {
  grid-area: 1/3/6/5;
}

.show-all-devices {
  background-color: #3f51b5;
  display: flex;
  flex-direction: row !important;
  border: 0 !important;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.show-all-devices:first-child {
}

.pagination {
  display: flex;
  justify-content: center;
  margin-right: 7%;
}

.pag {
  grid-area: 6/3/6/6;
  padding-bottom: 90px;
}

select {
  width: 55%;
}

.test-class {
  padding: 5px 0;
}

.show-features {
  background-color: white;
  font-size: 10px;
  padding: 5px;
  margin: 10px;
  color: #3f51b5;
  border-radius: 25px;
}

.img-container {
  background-color: #3f51b5;
  width: 30%;
}

.content {
  width: 50%;
}

.btn-container {
  width: 20%;
  pointer-events: all !important;
  cursor: pointer !important;
}
.btn-select {
  color: white;
  border-color: white;
}

.device-description {
  margin-top: 20px;
}



