
.nav-link {
  outline: none;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

.image-slider {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
}

.greeting-text {
  text-align: center;
  margin-top: 5%;
  font-family: Roboto;
}

.text-size {
  font-size: 100px;
}

.rightPlace {
  position: absolute;
  right: 12%;
}

.rightPlaceIn {
  position: absolute;
  right: 2.5%;
}

.main-content{
  height: 100%;
  width: 100%;
}
