.nav-item {
  outline: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-slider {
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  height: 80%;
}

.greeting-text {
  text-align: center;
  margin-top: 5%;
  font-family: Lobster;
}

.text-size {
  font-size: 100px;
}



