<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">
  <ul class="navbar-nav mr-auto">
    <li routerLink="" class="nav-link waves-light">Main Page</li>
    <li *ngIf="isSignedIn()" routerLink="statistic" class="nav-link waves-light">Statistic</li>
    <li *ngIf="isSignedIn()" routerLink="home" class="nav-link waves-light">Home</li>
    <li *ngIf="isSignedIn()" routerLink="device" class="nav-link waves-light">Device</li>
    <li *ngIf="isSignedIn()" routerLink="device-template" class="nav-link waves-light">Devices</li>
    <li *ngIf="isSignedIn()" routerLink="dashboard" class="nav-link waves-light">Dashboard</li>
    <li class="rightPlace nav-link waves-light" *ngIf="!isSignedIn()" routerLink="users/login">Login</li>
    <li class="rightPlaceIn nav-link waves-light" *ngIf="!isSignedIn()" routerLink="users/register">Register</li>
    <li class="rightPlace nav-link waves-light" *ngIf="isSignedIn()">Welcome
      back, {{localStorageService.getFirstName()}}</li>
    <li class="rightPlaceInSettings indigo waves-light">
       <div class="btn-group" mdbDropdown>
          <a mdbDropdownToggle type="button" size="lg" mdbBtn style="box-shadow: none; text-transform:none" class="indigo waves-light dropdown-toggle "
               mdbWavesEffect>
             Settings
           </a>
        <div class="dropdown-menu dropdown-menu-right ">
            <a class="dropdown-item" href="#">Personal Information</a>
            <a class="dropdown-item" routerLink="users/changePassword">Change Password</a>
            <div class="divider dropdown-divider"></div>
         <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </li>

  </ul>

</mdb-navbar>
<router-outlet></router-outlet>
<div class="footer">
  <footer class="page-footer font-small indigo align-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.softserveinc.com/"> SoftServe IT Academy</a>
    </div>
  </footer>
</div>

