<div class="nav-bar">
  <a href="src/app/app.component.html">Administration</a> >
  <a href="src/app/home/home-details/home-details.component.html">Homes</a> >
  <a href=""></a>
</div>

<div class="all">
  <div class="locations-list">
    <div class="list-local">
      <ul class="list-group">
        <li class="list-group-item" aria-disabled="true"> <button type="button" (click)="chooseHome(1)" class="btn btn-light" style="width: 100%">All</button></li>
        <li class="list-group-item"
            *ngFor="let location of allLocationsByHome">
          <button type="button" class="btn btn-light" (click)="chooseLocation(location.id)" style="width: 100%">{{location.name}}</button>
        </li>
      </ul>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Add location</a>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Configure rule</a>
    </div>
  </div>

  <div class="device">
    <div class="card device-info" *ngFor="let device of allDevice">
      <div class="card-header">
        {{device.description}}
        <button class="btn btn-light left" type="button" (click)="delete(device.uuid)">X</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{device.uuid}}</h5>
        <p class="card-text">here should be information from the device</p>
      </div>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Add new device</a>
    </div>
  </div>
</div>
