<div class="nav-bar">
  <a href="src/app/app.component.html">Administration</a> >
  <a href="src/app/home/home-details/home-details.component.html">Homes</a> >
  <a href=""></a>
</div>

<div class="all">
  <div class="locations-list">
    <div class="">
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">All</li>
        <li class="list-group-item disabled" aria-disabled="true"
            *ngFor="let location of allLocationsByHome">
          <button type="button" class="btn">{{location.name}}</button>
        </li>
      </ul>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Add location</a>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Configure rule</a>
    </div>
  </div>

  <div class="device">
    <div class="card device-info" *ngFor="let device of allDevice">
      <div class="card-header">
        {{device.uuid}}
        <a href="#" class="btn btn-light left">X</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="btn-add-device">
      <a href="#" class="btn btn-primary">Add new device</a>
    </div>
  </div>
</div>
