.all {
  display: grid;
  grid-template-columns: 1% 24% 10% 50% 15%;
}

.loc {
  width: 130px;
}

.location-name {
  font-size: 20px;
  float: left;
  margin-top: 5px;
}

.delete-location {
  float: right;
  height: 10px;
  margin-top: 0px;
  margin-right: -10px;
}

.nav-bar {
  margin: 10px 10px 10px 25px;
}

.locations-list {
  margin: 10px 50px 10px 9px;
  grid-area: 1/2/4/3;
}

.device {
  margin-top: 10px;
  grid-area: 1/3/6/5;
  height: 200px;
}

.device-info {
  margin-bottom: 10px;
}

.left {
  float: right;
}

.left:hover {
  color: red;
}

.btn-add-device {
  margin: 10px 10px 10px 0px;
}

.no-device-in-location {
  font-size: 30px;
  text-align: center;
}

