.buttoned {
  margin-top: 10px;
}

.selectedHome {
  margin-top: 15px;
}

.bottton {
  text-decoration: none;

}

.inputed {
  margin-right: 5px;
  border-left: aliceblue;
  border-right: aliceblue;
  border-top: aliceblue;
}

.loc-div {
  margin-top: 10px;
}


