<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
<div class="col-2">
  <ngb-tabset type="pills" orientation="vertical" (tabChange)="selectedTabId = $event.nextId">
    <ngb-tab id="info" title="User Info">User Info</ngb-tab>
    <ngb-tab id="telegram" title="Telegram">Telegram</ngb-tab>
  </ngb-tabset>
</div>
<div [hidden]="selectedTabId == 'telegram'">
  <div class="changeUserInfo">
    <form #registerForm="ngForm" (ngSubmit)="changeInfo(userChangeInfo)">
      <div class="validation-error"
           *ngIf="firstNameControl.invalid && (firstNameControl.dirty||firstNameControl.touched)">

        <div style="margin-left: 10px" *ngIf="firstNameControl.errors.required">
          First Name is required field
        </div>

        <div *ngIf="firstNameControl.errors.minlength">
          First Name must be at least 1 character long
        </div>

      </div>
      <input id="first-name" type="text" class="form-control first-name" name="fistName"
             (placeholder)="userChangeInfo.firstName"
             [(ngModel)]="userChangeInfo.firstName"
             #firstNameControl="ngModel" required
             minlength="1" maxlength="20">

      <div class="validation-error" *ngIf="lastNameControl.invalid && (lastNameControl.dirty||lastNameControl.touched)">

        <div *ngIf="lastNameControl.errors.required">
          Last Name is required field
        </div>

        <div *ngIf="lastNameControl.errors.minlength">
          Last Name must be at least 1 character long
        </div>

      </div>
      <input id="last-name" type="text" class="form-control last-name" name="lastName"
             (placeholder)="userChangeInfo.lastName"
             [(ngModel)]="userChangeInfo.lastName"
             #lastNameControl="ngModel"
             required
             minlength="1" maxlength="20">
      <p></p>

      <button class="btn btn-primary submit" [disabled]="!registerForm.valid" type="submit">
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Confirm
      </button>
    </form>
  </div>
</div>

<div [hidden]="selectedTabId == 'info'">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Start with Bot</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Input Username</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Activate</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-4">
          <button class="step-trigger">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Done!</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">

        <div id="test-l-1" class="content">
          <div class="form-group">
            <div class="tgme_page_action">
              <a class="tgme_action_button_new" (click)="openTelegram()">Get Started!</a>
            </div>
          </div>
        </div>

        <div id="test-l-2" class="content text-center">
          <div class="form-group">
            <input class="form-control" style="width: 30%; text-align: center; margin: 0 auto;" id="exampleInputUsername1" placeholder="Telegram Username"
                   [(ngModel)]="username.username"/>
          </div>
          <button (click)="sendActivation()" class="btn btn-primary">Accept</button>
        </div>

        <div id="test-l-3" class="content text-center">
          <a>Your validation code: <strong>{{activationCode}}</strong></a>
          <p></p>
          <div>
            <h2>{{countDown | async | formatTime}}</h2>
          </div>
          <button (click)="refreshActivation()" class="btn btn-primary mt-5">Refresh</button>
          <button (click)="getStatus()" class="btn btn-primary mt-5">OK!</button>
        </div>

        <div id="test-l-4" class="content text-center">
          <div class="form-group" style="text-align: center">
            <a>You have succesfully linked your Telegram Account <strong>{{userTelegram.username}}</strong></a>
          </div>
          <button (click)="refresh()" style="margin: 0 auto" class="btn btn-primary">Add!</button>
        </div>
      </div>
  </div>
</div>
<div #alert class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertMessage">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert(alert)">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{alertMessage}}</strong>
</div>


