<div mat-dialog-content>
  <h4 style="font-size: 25px; font-family: sans-serif;" class="modal-title" id="modal-basic-title">Than...</h4>
</div>
<mat-form-field style="width:100%" floatLabel="never">
  <mat-label>Action Type</mat-label>
  <mat-select (valueChange)="changeType($event,telegramContainer,emailContainer,deviceContainer,btn)">
    <mat-option [value]="type" *ngFor="let type of actions">{{type.description.toLowerCase()}}</mat-option>
  </mat-select>
</mat-form-field>
<div #telegramContainer style="display: none">
  <h4 style="font-size: 20px; font-family: sans-serif; margin-top: 20px" class="modal-title">Configuration</h4>
  <div style="display: flex; flex-direction: column" class="config">
    <div style="display: flex; flex-direction: row">
      <mat-form-field style="width: 40%; margin-right: 5%;" floatLabel="never">
        <mat-label>username</mat-label>
        <mat-select (valueChange)="telegramData.username = $event">
          <mat-option [value]="user" *ngFor="let user of telegramUsers">{{user}}</mat-option>
        </mat-select>
      </mat-form-field>
      <input style="width: 40%; margin-right: 5%;  margin-top: 8px; border-bottom: 1px solid #8e8e8e" placeholder="text"
             type="text" class="form-control typeahead-basic"
             [(ngModel)]="telegramData.text"/>
    </div>
  </div>
</div>
<div #emailContainer style="display: none">
  <h4 style="font-size: 20px; font-family: sans-serif; margin-top: 20px" class="modal-title">Configuration</h4>
  <div style="display: flex; flex-direction: column" class="config">
    <div style="display: flex; flex-direction: row">
      <input style="width: 40%; margin-right: 5%; margin-top: 8px; border-bottom: 1px solid #8e8e8e" placeholder="email"
             type="text" class="form-control typeahead-basic"
             [(ngModel)]="emailData.email"/>
      <input style="width: 40%; margin-right: 5%;  margin-top: 8px; border-bottom: 1px solid #8e8e8e" placeholder="text"
             type="text" class="form-control typeahead-basic"
             [(ngModel)]="emailData.text"/>
    </div>
  </div>
</div>
<div #deviceContainer style="display: none">
  <h4 style="font-size: 20px; font-family: sans-serif; margin-top: 20px" class="modal-title">Configuration</h4>
  <div style="display: flex; flex-direction: column" class="config">
    <div style="display: flex; flex-direction: row">
      <mat-form-field style="width: 40%; margin-right: 5%;" floatLabel="never">
        <mat-label>device</mat-label>
        <mat-select (valueChange)="changeDeviceData($event)">
          <mat-option [value]="desc" *ngFor="let desc of localDevices">{{desc.desc}}</mat-option>
        </mat-select>
      </mat-form-field>
      <input style="width: 40%; margin-right: 5%;  margin-top: 8px; border-bottom: 1px solid #8e8e8e" placeholder="data"
             type="text" class="form-control typeahead-basic"
             [(ngModel)]="deviceData.data"/>
    </div>
  </div>
</div>
<div style="margin-top: 20px; display: flex; justify-content: flex-end" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button #btn [disabled]="true" mat-button
          [mat-dialog-close]="currentType==='telegram'?telegramData:currentType==='mail'?emailData:deviceData">OK
  </button>
</div>
