.login {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

.bg-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image:
    url("https://images.unsplash.com/photo-1519558260268-cde7e03a0152?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.login input {
  width: 100%;
  margin: 10px;
}

.error, .validation-error {
  margin-left: 10px;
  color: white;
}
.btn{
  width: 100%;
  margin-left: 10px;
}
.register{
  color: white;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}
.alert{
  position: absolute;
  display: block;
  right: 0.1rem;
  bottom: 2.8rem;
}
.err{
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
}
