<div class="bg-img">
  <div class="login">

    <form #registerForm="ngForm" (ngSubmit)="logIn(userLogIn)">


      <div class="validation-error" *ngIf="emailControl.invalid && (emailControl.dirty||emailControl.touched)">
        <div class="err" *ngIf="emailControl.errors.required">
          Email is required field
        </div>
        <div class="err" *ngIf="emailControl.errors.minlength">
          Email must be at least 6 characters long
        </div>
        <div class="err" *ngIf="emailControl.errors.email">
          Please input your email correctly
        </div>
      </div>
      <div class="validation-error" *ngIf="emailErrorMessageBackEnd!=null">
        {{emailErrorMessageBackEnd}}
      </div>
      <input id="email" type="email" class="form-control email" name="email" [(ngModel)]="userLogIn.email"
             placeholder="Email"
             #emailControl="ngModel" required
             minlength="1" email="true">

      <div class="validation-error" *ngIf="passwordControl.invalid && (passwordControl.dirty||passwordControl.touched)">
        <div class="err" *ngIf="passwordControl.errors.required">
          Password is required field
        </div>
        <div class="err" *ngIf="passwordControl.errors.minlength">
          Password must be at least 8 characters long
        </div>
      </div>
      <div class="validation-error" *ngIf="passwordErrorMessageBackEnd!=null">
        {{passwordErrorMessageBackEnd}}
      </div>
      <input id="password" type="password" class="form-control password" name="form-control password"
             placeholder="Password"
             [(ngModel)]="userLogIn.password"
             #passwordControl="ngModel"
             required minlength="8">


      <div class="error" *ngIf="backEndError!=null">
        {{backEndError}}
      </div>


      <button class="btn btn-primary submit" [disabled]="!registerForm.valid" type="submit">
        <span *ngIf="loadingAnim" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Log In!
      </button>

    </form>

    <div class="register" routerLink="../register">
      Dont have an account?
    </div>
  </div>
  <div class="register" routerLink="../restore">
    Forgot your account password?
  </div>

</div>

<div #alert class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isActivated">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Your account successfully activated.</strong> Login to discover more features
</div>

