<div class="any-toggle" *ngIf="type == 'light'">
  <p *ngIf="isTurnedOn === 'on'">
    <span><img src="https://img.icons8.com/dusk/64/000000/light-on.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()" checked>
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
  <p *ngIf="isTurnedOn === 'off'">
    <span><img src="https://img.icons8.com/wired/64/000000/light-on.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()">
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
</div>

<div class="any-toggle" *ngIf="type == 'door'">
  <p *ngIf="isTurnedOn === 'open'">
    <span><img src="https://img.icons8.com/ios/50/000000/door-opened.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()" checked>
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
  <p *ngIf="isTurnedOn === 'close'">
    <span><img src="https://img.icons8.com/ios/50/000000/door-closed.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()">
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
</div>

<div class="any-toggle" *ngIf="type == 'window'">
  <p *ngIf="isTurnedOn === 'open'">
    <span><img src="https://img.icons8.com/ios/50/000000/open-window.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()" checked>
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
  <p *ngIf="isTurnedOn === 'close'">
    <span><img src="https://img.icons8.com/ios/50/000000/closed-window.png" class="light-icon"></span>
    {{description}}
    <span>
      <div class="toggle">
  <input type="checkbox" class="check" (click)="switchLight()">
  <b class="b switch"></b>
  <b class="b track"></b>
</div></span>
  </p>
</div>
